/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*======================================================================*/
/* Implemented CSS begins here! */
.footer_logos {
    height: 25px;
    width: 25px;
}

#content {
	display: grid;
	grid-template-rows: auto;
	height: 100vh;
	width: 100vw;
	font-family: sans-serif;
	font-weight: 400;
	background-color: #393838;
}

.header {
	border-bottom: 1px solid #920E0E;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 0.5em;
	background-color: #393838;
}

.timsDiner {
	font-size: 3em;
	color: black;
	/* contributes to the outline effect by determining the color inside the outline*/
	-webkit-text-stroke-width: 1px; 
	-webkit-text-fill-color: #FFECC7;
	text-shadow: -3px -2px 5px #FFECC7; /*x y blur-radius color*/
}

.header_menu {
	font-size: 1.15em;
	color: #FFECC7;
	display: flex;
	justify-content: space-evenly;
	gap: 1.5vw;
}

.header_menu_button {
	color: #FFECC7;
	background-color: #393838;
	font-size: 1.15em;
	border: none;
}

.buttonText:hover, .header_menu_button:hover {
	background-color: #717070;
}

.buttonText:active, .header_menu_button:active {
	color: #393838;
}

.buttonText {
	font-size: 2em;
	color: white;
	background: none;
	border-radius: 1px;
	border-width: 2px;
	border-color: #FFECC7;
	padding: 10px;
}

.clicked {
	color: #920E0E;
	background-color: #717070;
}

.main_sec_container, .location_Sec, .giftCards_Sec {
	border: 1px solid #920E0E;
	background: url(../images/food_background.jpg);
	background-size: contain; 
	/*the contain val specifies that regardless of the size of the containing box, the 
	background image shoul dbe scaled so that each size is large as possible
	while not exceeding the length of the corresponding side of container*/
	display: flex;
	justify-content: center;
	align-items: center;
}

.main_sec, .locationsInnerDiv {
	height: 400px;
	width: 480px;
	border: 20px solid #FFECC7;
	background-color: #FFDD9B;
	display: grid;
	grid-template-columns: 200px 200px;
	grid-template-rows: 1fr 1fr 1fr;
	column-gap: 20px;
}

.locationsInnerDiv, .happyHourDiv {
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

#appetizerDiv {
	grid-row-start: 1;
}

#mainsDiv {
	grid-row-start: 2;
}

#dessertsDiv {
	grid-row-start: 3;
}

.food_entry {
	margin-left: 30px;
	margin-top: 30px;
	width: 200px;
	font-size: 12px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.food_title, .location_title, .happyHour_title {
	font-size: 24px;
	color: #920E0E;
}

.location_title, .happyHour_title {
	font-size: 28px;
	font-weight: 400;
}

.name_price, .addressTimePair {
	font-size: 14px;
	display: flex;
	justify-content: space-between;
}

.addressTimePair {
	gap: 150px;
	font-size: 18px;
	font-weight: 500;
}

.locationEntries, .happyHourEntries {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.footer {
	border-top: 1px solid #920E0E;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	color: #FFFFFF;
	padding-top: 15px;
	padding-bottom: 10px;
}

.resInquiries {
	display:flex;
	justify-content: center;
	margin-left: 80px;
}

.colInquiry {
	width: 175px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.footer_header {
	font-size: 20px;
	color: #FFECC7;
}

.thirdColInquiry {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.followUs {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.logoDiv {
	display: flex;
	gap: 15px;
}

